/* Pc */
@media screen and (max-width: 1024px) {

    #features {
        flex-direction: column;
    }

    #features #side-left>figure {
        left: 0;
        width: 75%;
    }

}


/* tablet */
@media screen and (max-width: 768px) {
    body>section {
        padding: 1rem;
    }

    .nav-container {
        display: none;
    }

    header {
        display: none;
    }

    #menu-icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
    }
}


@media screen and (max-width: 640px) {
    :root {
        font-size: 0.75rem;
    }
}



@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Montserrat&family=Roboto&display=swap");

:root {
    box-sizing: border-box;

    --theme-main-text: #4c555a;
    --theme-secondary-text: #7d8385;
    --theme-main-color: #5dccbb;
    --theme-button-one: #5dccbb;
    --theme-button-one-hover: #57af9e;
    --theme-button-two: #8795fe;
    --theme-button-two-hover: #7d86db;
    --theme-footer-bg: #f5f6f8;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body>section {
    width: 100%;
    min-height: 100vh;

    padding: 4rem;

    display: flex;
    flex-direction: column;
}

body>section:nth-child(even) {
    background: #eee;
}


/* header */
header {
    background-color: var(--theme-main-color);
    z-index: 10;
}

header>h1 {
    padding: 0.5rem;

    color: white;

    text-align: center;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 3rem;

    user-select: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;

    background: var(--theme-main-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    border-radius: 0 0 1rem 1rem;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-container>li {
    list-style: none;
}

.nav-container a {
    display: inline-block;
    padding: 1.5rem;

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-container li:hover {
    background-color: var(--theme-button-one-hover);
    transition: all 0.3s ease-in-out;
}

#menu-icon {
    display: none;
}


/* intro section */
#intro {
    justify-content: center;
    align-items: center;
}


/* Logo*/
#intro-img-container {
    width: 100%;
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-img-container>figure {
    width: 7rem;
    height: 7rem;
}


/* fluid image */
img.fluid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Centered text */
.centered-quote {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.centered-quote>h1,
.centered-quote>h3 {
    margin: 1rem 0;

    color: var(--theme-main-text);
    font-size: 2.5em;
    font-weight: 700;
}

.centered-quote>p {
    width: 100%;
    max-width: 560px;
    margin: 1rem 0;

    font-size: 1.5em;
    color: var(--theme-secondary-text);
}


/* Android & IOS Buttons */
.button-container {
    padding: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
}

.button-container>button {
    padding: 1rem;

    border-radius: 2rem;
    border: none;

    font-size: 1rem;
    color: #fff;
    font-weight: 700;
}

.button-container>.iOS-btn {
    background-color: var(--theme-button-one);
}

.button-container>.iOS-btn:hover {
    cursor: pointer;
    background-color: var(--theme-button-one-hover);
    transition: all 0.3s ease-in-out;
}

.button-container>.mac-btn {
    background-color: var(--theme-button-two);
}

.button-container>.mac-btn:hover {
    cursor: pointer;
    background-color: var(--theme-button-two-hover);
    transition: all 0.3s ease-in-out;
}


/* Snippets */
#snippets {
    justify-content: center;
    align-items: center;

    text-align: center;
}

#snippets>h3 {
    color: var(--theme-main-text);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

#snippets>p {
    font-size: 1.5rem;
    color: var(--theme-secondary-text);
    margin-bottom: 2rem;
    max-width: 40%;
}


/* Features section */
#features {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

#features>section {
    flex: 1;
}

#features #side-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#features #side-left>figure {
    width: 100%;
    height: auto;

    position: relative;
    left: -25%;
}

#features #side-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.8rem;
}

/* Access Section */
#access {
    justify-content: center;
    gap: 2rem;
}

#access>figure {
    width: 50%;
    min-width: 450px;
}



/* Productivity Section */

#productivity {
    justify-content: center;
}

#productivity > h3 {
    padding: 1rem;
  
    color: var(--theme-main-text);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
  }

.grid-container {
    display: grid;
  }

#productivity .grid-container {
    width: 100%;
    max-width: 1024px;
    padding: 1rem;
  
    align-self: center;
  
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-auto-flow: dense;
  
    gap: 3rem;
  }
  #productivity .grid-container > figure {
    display: flex;
  
    border-radius: 2rem;
    overflow: hidden;
  }
#productivity .grid-container .grid-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Tools section */
#tools {
    justify-content: center;
    gap: 1rem;
}

#tools-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    text-align: center;
}

.tool-item {
    width: 20rem;
    height: 20rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    border-radius: 50%;
    border: none;

    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.tool-item>figure {
    width: 44px;
    height: 44px;
}

.tool-item>h4 {
    font-size: 1.5rem;
    color: var(--theme-main-text);
}

.tool-item>p {
    font-size: 1.1rem;
    color: var(--theme-secondary-text);
}



/* Sponsors Section */
#sponsors {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 4rem;
}

#sponsors > figure {
    width: 7.5rem;
}


/* Clip section */
#clip {
    justify-content: center;
    align-items: center;
}



/* Footer */
.footer-basic {
    padding: 200px 0;
    background-color: #ffffff;
    color: #ffffff;
    background: #5dccbb;
    border-radius: 1rem 1rem 0 0;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 70px;
    height: 70px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

body>section>.footer {
    height: 50px;
}


/* footer */
#footer-img > img{
    width: 75px;
    height: 75px;
    position: absolute;

}

#footer-img {
    position: relative;
    top: -40px;
    left: -350px;
}

footer {
    display: flex;
    justify-content: center;
}


#footer-links {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    margin-right: -500px;
}

#social-media {
    padding: 7rem;
    position: relative;
    right: -450px;
    

}

#social-media > a {
    margin: 1rem;
    color: #5dccbb;
}

#social-media > a:hover{
    fill: #5dccbb;
}

#footer-links > a {
    text-decoration: none;
    color: #7d8385;
    margin-right: 9rem;
}

#footer-links > a:hover {
    color: #5dccbb;
}


